/Base_Station_QT_Workspace/build-Base_Station-Desktop_Qt_5_10_0_GCC_64bit-Debug/*
/Base_Station_QT_Workspace/Base_Station/Base_Station.pro.*

/Motor_Controller_SW4STM_Workspace/Motor_Controller/Debug/*
/Motor_Controller_SW4STM_Workspace/Motor_Controller/.metadata/*

